body{
    font-size: 0.85em;
    font-weight: bold;
    font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
    margin: 0px;
    padding: 0px;
}
.left{
    position: fixed;
    width: 50%;
    height: 100%;
    background-color:#95f7b8;
    background-image: url(../img/foreign_parts_left.png);
    background-repeat: no-repeat;
    background-position: 35px,-30px;

   
}
.right{
    position: absolute;
   
    width: 50%;
    left: 50%;
    top: 0px;
    text-align: center;
    
    background-image: url(../img/bg_dot.jpg);
}
.right_content{
    padding: 50px 90px 15px ;
}
.box_titleimg{
    margin: 60px 0 20px 0;

}
.box_text {
    line-height: 1.5rem;
    text-align: left;
}
.box_title {
    font-size: 1.5rem;
}
.box_text2{
    text-align: left;
}
.time_form{
    margin: 30px 0 60px 0;
 width: 100%;
 border-collapse: collapse;
}

.time_form td {
    border: 1px solid #cccccc;
    padding: 15px 5px;
    width: 33.333%;
    text-align: center;
}
.time_form th {
   background: #5CB6E7;
   border: 1px solid #cccccc;
    padding: 15px 5px;
    width: 33.333%;
    text-align: center;


}
.box_text2 b {
    font-size: 1rem;

}
.tick_price ul {
    padding-left: 20px;

}
.tick_price li{
    margin-bottom: 10px;
}